<h1>MAP STYLE CHANGE</h1>

{{#each mapData}}
<div class="map-change-container">
    <a href="{{mapData.url">
        <img 
                src="{{mapData.title}}" 
                alt="{{mapDat.title}}">
        <h4>{{mapData.title}}</h4>
        <p>click map to store in user profile</p>
    </a>
</div>
{{/each}}