
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
  <script src="./../public/javascripts/layout.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
  
  <title>Document</title>
</head>

<body>
    <header>
    <nav class="nav-top">
      <ul>
        <li><img class="add-img-plus" src="https://img.icons8.com/cotton/128/000000/plus--v1.png" id="comment-popup-button"></li>
        <li class="currentMapCenter"></li>
        <li><a href="/auth/logout">LOGOUT</a></li>
      </ul>
    </nav>
  </header>
  <main>

  {{{body}}}
  </main>
  <footer>
  <nav class="nav-bot">
    <ul>
      <li><a href="/discover">Discover</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
</footer>

</body>


</html>