<p id="lng" hidden>{{this.lng}}</p>
<p id="lat" hidden>{{this.lat}}</p>
<pre id='info' hidden></pre>

{{!-- <div id="profile-nav-container">
    <form action='/profile/location' method='GET' >
        <button type='submit' class="profile-nav-btn">Location</button>
    </form>
    <form action='/profile/security' method='GET'>
        <button type='submit' class="profile-nav-btn">Security</button>
    </form>
    <form action="/profile/picture" method="GET">
        <button  type='submit' class="profile-nav-btn">Picture</button>
    </form>
    <form action="/profile/map" method="GET">
        <button  type='submit' class="profile-nav-btn">Map Style</button>
    </form>
</div> --}}


<div class="profile-form-container">
    <h2>Change your current location</h2>
    <div id="profile-map" class="profile-map"></div>
    <p>
        {{this.errorMessage}}
    </p>
    <form action="/profile/location" method="POST">
        <button id="profile-location-change-btn" type='submit'>Select Location</button>

        <input id="location-input" name='defaultLocation' hidden>
    </form>
</div>

<div class="profile-change-map-style">

</div>


<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>

<script src="/javascripts/location.js">
    

    </script>