<div id="profile-nav-container">
    <form action='/profile/location' method='GET' >
        <button type='submit' class="profile-nav-btn">Location</button>
    </form>
    <form action='/profile/security' method='GET'>
        <button type='submit' class="profile-nav-btn">Security</button>
    </form>
    <form action="/profile/picture" method="GET">
        <button  type='submit' class="profile-nav-btn">Picture</button>
    </form>
    <form action="/profile/map" method="GET">
        <button  type='submit' class="profile-nav-btn">Map Style</button>
    </form>
</div>


<h1>MAP STYLE CHANGE</h1>

<div class="map-change-container">
    <img src="" alt="">
    <h4>MAP TITLE</h4>
    <p>click map to store in user profile</p>
</div>