{{!-- <div id="profile-nav-container">
    <form action='/profile/location' method='GET' >
        <button type='submit' class="profile-nav-btn">Location</button>
    </form>
    <form action='/profile/security' method='GET'>
        <button type='submit' class="profile-nav-btn">Security</button>
    </form>
    <form action="/profile/picture" method="GET">
        <button  type='submit' class="profile-nav-btn">Picture</button>
    </form>
    <form action="/profile/map" method="GET">
        <button  type='submit' class="profile-nav-btn">Map Style</button>
    </form>
</div> --}}

<div class="map-change-view-title">
    <h1>MAP STYLE CHANGE</h1>
    <p>click map to store in user profile</p>
</div>

<div class="map-change-container">
        <form action="/profile/map/change">
            <h4>PENCIL</h4>
            <input type="text" name="newMap" id="" value="mapbox://styles/ivanfral/ck3h5053s0q7x1cph39rs376e" hidden>
            <button type="submit" class="change-map-btn">
                <img src="./../../../images/pencil.png" alt="">
            </button>
        </form>

        <form action="/profile/map/change">
            <h4>ICE CREAM</h4>
            <input type="text" name="newMap" id="" value="mapbox://styles/ivanfral/ck3h53so80o081couieyctwg6" hidden>
            <button type="submit" class="change-map-btn">
                <img src="./../../../images/icecream.png" alt="">
            </button>
        </form>
       
       <form action="/profile/map/change">
            <h4>DECIMAL</h4>
            <input type="text" name="newMap" id="" value="mapbox://styles/ivanfral/ck3h55kmb02lm1cnsr1ytmcz6" hidden>
            <button type="submit" class="change-map-btn">
                <img src="./../../../images/decimal.png" alt="">
            </button>
        </form>

        <form action="/profile/map/change">
            <h4>MOONLIGHT</h4>
            <input type="text" name="newMap" id="" value="mapbox://styles/ivanfral/ck3h585dh0o411cou1538b6ea" hidden>
            <button type="submit" class="change-map-btn">
                <img src="./../../../images/moonlight.png" alt="">
            </button>
        </form>
    
</div>