{{!-- <div id="profile-nav-container">
    <form action='/profile/location' method='GET' >
        <button type='submit' class="profile-nav-btn">Location</button>
    </form>
    <form action='/profile/security' method='GET'>
        <button type='submit' class="profile-nav-btn">Security</button>
    </form>
    <form action="/profile/picture" method="GET">
        <button  type='submit' class="profile-nav-btn">Picture</button>
    </form>
    <form action="/profile/map" method="GET">
        <button  type='submit' class="profile-nav-btn">Map Style</button>
    </form>
</div> --}}



<div id='profile-picture-container'>
    <h4> {{this.username}}</h4>
    <img src="{{this.picture}}" alt="profilepicture" width="300px" id="profile-picture">
</div>

    <p>
        {{this.errorMessage}}
    </p>

    <form action="/profile/picture" method="POST" enctype="multipart/form-data" class="profile-form-container">
        <input type="file" name="photo" class="picture-upload-form-input"/>
        <button type="submit" class="profile-btn" >Upload</button>
    </form>



<div class="profile-form-container">
    <form action='/profile/session' method='POST' class="profile-form">
        <input id="sessionChangeInput" type='text' name='session' hidden>
        <button id="sessionChangeBtn" type='submit' class="profile-btn">{{this.session}}</button>
    </form>
</div>



<script>

    var sessionChangeBtn = document.querySelector("#sessionChangeBtn")
    sessionChangeBtn.addEventListener("click", (e)=>{
        if(e.target.innerHTML=="Public"){
            e.target.innerHTML="Private"
            document.querySelector("#sessionChangeInput").value="Public"
        } else {
            e.target.innerHTML="Public"
            document.querySelector("#sessionChangeInput").value="Private"
        }
    });
    
        


</script>