<div id="profile-nav-container">
    <form action='/profile/location' method='GET' >
        <button type='submit' class="profile-nav-btn">Location</button>
    </form>
    <form action='/profile/security' method='GET'>
        <button type='submit' class="profile-nav-btn">Security</button>
    </form>
    <form action="/profile/picture" method="GET">
        <button  type='submit' class="profile-nav-btn">Picture</button>
    </form>
    <form action="/profile/map" method="GET">
        <button  type='submit' class="profile-nav-btn">Map Style</button>
    </form>
</div>




    <p>
        {{this.errorMessage}}
    </p>

    <form action='/profile/security' method='post' id="profile-form">
    <h2>Welcome {{this.username}}</h2>
    <input type='password' name='password' id='passShow' class="profile-form-input" placeholder="Change your password">

    <input type="password" name='passConf' id='passConfShow' class="profile-form-input" placeholder="Cofirm your password change">


    <div id="show-password-container">
        


        <div>
        <input type="checkbox" name="passShow" onclick="showPassword()" >
        <label for="">Show Password</label>
        </div>

        <button type='submit' class="change-pw-btn">Change password</button>
    
    </div>

</form>


<script>
    function showPassword  () {
                    const passShow = document.getElementById('passShow')

                    if ( passShow.type === 'password' && passConfShow.type === 'password') 
                    {
                        passShow.type = 'text';
                        passConfShow.type = 'text';
                    }
                    else 
                    {
                        passShow.type = 'password';
                        passConfShow.type = 'password'
                    }
            }
</script>
