
    <p>
        {{this.errorMessage}}
    </p>

    <form action='/profile/security' method='post' id="profile-form">
    <h4>Welcome {{this.username}}</h4>
    <input type='password' name='password' id='passShow' class="profile-form-input" placeholder="Change your password">

    <input type="password" name='passConf' id='passConfShow' class="profile-form-input" placeholder="Cofirm your password change">

    <div id="show-password-container">
        <div>
        <input type="checkbox" name="passShow" onclick="showPassword()" >
        <label for="">Show Password</label>
    </div>

        <button type='submit' class="profile-btn">Change password</button>
    </div>

</form>


<script>
    function showPassword  () {
                    const passShow = document.getElementById('passShow')

                    if ( passShow.type === 'password' && passConfShow.type === 'password') 
                    {
                        passShow.type = 'text';
                        passConfShow.type = 'text';
                    }
                    else 
                    {
                        passShow.type = 'password';
                        passConfShow.type = 'password'
                    }
            }
</script>
