<div id="discover-nav">
    <h1 id="discoverLabel">DISCOVER</h1>
    <h1 id="myCommentsLabel">My Comments</h1>
</div>
<p id="allCommentData" hidden>{{this.allCommentData}}</p>
<p id="currentUserId" hidden>{{this.currentUserId}}</p>
<div id="allDiscoverComments"></div>
<div id="allMyComments"></div>
<div id="allDiscoverCommentsFresh"></div>
<div id="allMyCommentsFresh"></div>
















<script src="/javascripts/discover.js">

</script>