/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET>>>>>>>>>>>>>>>>>>>>> */

/* GLOBAL VARIABLES >>>>>>>>>>>>>>>>>>>>> */
$main-font: "Fredoka One", cursive;
$main-color: black;
$nav-font-color: #ffffff;


//FONTSIZE
$h1-size: 2em;
$h2-size: 1.7em;
$h3-size: 1.4em;
$p-size: 1em;

//BUTTON
$button-height: 5vh;
$button-width: 25vw;
$button-radius: 1.2vh;
$button-padding: 5vw;
$button-font-size: 0.9em;
$button-border-color: rgba(74, 177, 211, 0.8);

//CONTAINER
$container-width: 60vw;
$container-min-width: 330px;

//INPUT
$input-width: 50vw;
$input-height: 3vh;
$input-radius: 1vh;
$check-box-width: 4vw;

//COLORS
$nav-color: #00b7ff;





























































/* START STYLING >>>>>>>>>>>>>>>>>>>>>> */
body {
  font-family: $main-font;
}

a {
  color: $nav-font-color;
}

main {
  margin: 10vh auto;
  position: relative;
}

#signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75vh;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  min-width: $container-min-width;
}

#profile-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  min-width: $container-min-width;
}

.profile-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  min-width: $container-min-width;
}

.signin-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  width: $container-width;
  min-width: $container-min-width;
}

.signin-form div {
  margin: 2vh 0;
}

.picture-upload-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: $input-width;
  flex-direction: row;
}

#welcome-title {
  font-size: 2.4em;
}

.signup-form-input,
.profile-form-input,
.signin-form input {
  width: $input-width;
  height: $input-height;
  border-radius: $input-radius;
  max-height: $input-height;
}

.picture-upload-form-input {
  width: $button-width;
  padding: 1vh;
}

.signup-form-input:first-of-type,
.profile-form-input:first-of-type,
.signin-form-input:first-of-type {
  margin-top: 3vh;
}

.signup-form-input:nth-child(4) {
  margin-bottom: 3vh;
}

.profile-form-input:nth-child(4) {
  margin-bottom: 3vh;
}

#signup-map,
#profile-map {
  width: 80vw !important;
  height: 30vh !important;
  border: 5px solid grey;
  border-radius: 20px;
  margin: 0 auto;
}

#signup-btn,
.profile-btn,
.signin-btn,
.profile-nav-btn {
  height: $button-height;
  padding: 1vh 3vw;
  border-radius: $button-radius;
  font-family: "Fredoka One", cursive;
  font-size: $button-font-size;
  margin-bottom: 3vh;
  width: $button-width
}

#signup-btn:hover,
.profile-btn:hover,
.signin-btn:hover,
.profile-nav-btn:hover {
  -webkit-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  -moz-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
}

.nav-top {
  top: 0;
  position: absolute;
  z-index: 1;
}

.nav-bot {
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.nav-top,
.nav-bot {
  background-color: $nav-color;
  height: 10vh;
  width: 100vw;
  position: fixed;
}

.nav-top ul,
.nav-bot ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-bot li,
.nav-top li {
  list-style-type: none;
  color: $nav-font-color;
  font-weight: bold;
  padding: 0 7vw;
}

.nav-bot a,
.nav-top a {
  color: $nav-font-color;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
}

#userHomeLng,
#userHomeLat,
#newCommentLng,
#newCommentLat,
#userComments,
#info {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
  text-overflow: hidden;
  white-space: nowrap;
}

.add-comment-form {
  position: absolute;
  top: 1vh;
  transition: height 2.5s;
  display: flex;
  flex-direction: column;
}

.add-comment-form  input{
  width: $input-width *0.7;
  height: $input-height /2;
  border-radius: $input-radius/2;
  max-height: $input-height;
}

.add-comment-form input:nth-child(2) {
    height: 8vh;
}

.add-comment-form button {
  height: $button-height/2;
  border-radius: $button-radius;
  font-family: "Fredoka One", cursive;
  font-size: $button-font-size*0.8;
  width: $button-width/2;
}

.add-comment-form button:hover {
  -webkit-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  -moz-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
}


.add-img-plus {
  height: 5vh;
}

.add-img-plus:active {
  content: url("./../images/plus\ inverted2.png");
}

#map {
  height: 80vh;
  width: 100vw;
}

#profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: $input-width;
  min-width: $container-min-width;
  margin: 5vh auto;
}

#profile-picture-container h2 {
  margin: 2vh auto 2vh auto;
  display: flex;
}

#profile-picture {
  height: 20vh;
  width: auto;
}

#show-password-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: $input-width;
  min-width: $container-min-width;
  margin: 1vh auto;
}


#show-password-container input,
label {
  font-weight: 100;
  font-size: 0.6em;
  display: flex;
  justify-content: center;
}

#show-pass-checkbox {
  width: $check-box-width;
  height: 3vh;
  width: 3vw;
  padding: 0;
  margin: 0;
}
.home-marker h3, .private-marker h3, .public-marker h3 {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120%;
  display: block;
  overflow: hidden
}

.private-marker form, .public-marker form {
  display: flex;
  // flex-direction: column;
  background-color: blue;
  align-items: center;
  width: 200px
}

// .private-marker form:first-child {
//   background-color: brown;
// }


.delete-popup, .popup-details {
  // width: 2vw;
  height: 2vh;
}

.comment-comment-trash {
  position: relative;
  top: 5%;
}

.comment-reply-trash {
  height: 20vh
}

// .home-marker form, .private-marker form, .public-marker form {
//   display: flex;
// }

.home-marker {
  background-image: url("./../images/home-marker-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.public-marker {
  background-image: url("./../images/marker_template_2.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.private-marker {
  background-image: url("./../images/private-marker-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.social-private-marker, .social-public-marker {
  background-image: url("./../images/social.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.sight-private-marker, .sight-public-marker {
  background-image: url("./../images/sight.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.claim-private-marker, .claim-public-marker {
  background-image: url("./../images/claim.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-nav-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh 2vw;
}

#profile-nav-container form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

<<<<<<< HEAD
#profile-nav-container button {
  border-color: black;
  border-top: none;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: $button-radius ;
  border-bottom-left-radius: $button-radius;
  background-color: $nav-color;
  color: $nav-font-color;
}

#profile-nav-container button:hover {
  -webkit-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  -moz-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
}

#logout-btn {
  border-color: black;
  border-top: solid;
  border-bottom: none;
  border-left: solid;
  border-right: solid;
  border-top-left-radius: $button-radius;
  border-top-right-radius: $button-radius;
  border-bottom-right-radius: 0 ;
  border-bottom-left-radius: 0;
  background-color: $nav-color;
  color: $nav-font-color;
}

#logout-btn:hover {
  -webkit-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  -moz-box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
  box-shadow: 8px 8px 5px 0px rgba(128, 123, 114, 1);
}

#discover-nav {
  display: flex;
  justify-content: space-around;
}

#discover-nav h1 {
  padding: 2vh;
  text-align: center;
  width: 48vw;
  border-top: none;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: $button-radius ;
  border-bottom-left-radius: $button-radius;
  background-color: $nav-color;
  color: $nav-font-color;
}

=======
>>>>>>> develop
#allDiscoverComments, #allMyComments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: -2;
  height: 80vh;
  padding-top: 5vh;
  // margin-bottom: 10vh
  // margin: 10vh 0;
}

#allDiscoverComments > *, #allMyComments > * {
  border-top:1vw solid black;
  border-right:1vw solid black;
  border-radius: 10vw;
  margin: 4vw 0;

}

#allDiscoverComments div:nth-child(even), #allMyComments div:nth-child(even) {
  margin-left: 2vh;
  position: relative;
}

#allDiscoverComments div:nth-child(odd), #allMyComments div:nth-child(odd) {
  margin-left: 2vh;
}

#allDiscoverComments div:nth-child(1), #allMyComments div:nth-child(1), #allDiscoverComments div:nth-child(2), #allMyComments div:nth-child(2) {
  // margin-top: 3vw
}

// #allDiscoverComments > *:last-of-type, #allMyComments > *:last-of-type {
//   margin-bottom: 10vh;
// }



.displayedComment {
  display: flex;
  flex-direction: column;
  padding: 3vh 0;
  width: 45vw;
}

.displayedComment div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayed-comment-title {
  text-align: center;
  margin-bottom: 3vh;
}

.displayed-comment-text {
  margin-left: 3vh;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  display: block;
  overflow: hidden
}

.displayed-comment-creator-username {
  text-align: right;
  margin: 3vh 3vw 0 0;
}

.displayedComment img {
  width: 12vw;
}

.displayedComment a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.displayedComment a:active, .displayedComment a:hover {
  color: orange;
}

.hidden {
  display: none !important;
}

.add-comment-form-img-social, .add-comment-form-img-sight, .add-comment-form-img-claim {
  width: 10vw;
}


.like-img{
  width: 5vw;
}

#welcome-index {
  margin: 5vh auto 5vh auto;
  padding: 2vh 0;
  font-size: $h1-size; 
}

#signup-index-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vh;
}

#signup-index-form h2 {
  font-size: $h3-size;
  text-align: center;
  margin-bottom: 2.5vh;
}

