/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET>>>>>>>>>>>>>>>>>>>>> */
/* GLOBAL VARIABLES >>>>>>>>>>>>>>>>>>>>> */
/* START STYLING >>>>>>>>>>>>>>>>>>>>>> */
body {
  font-family: "Lato", sans-serif;
}

a {
  color: #bdc3c7;
}

main {
  margin: 10vh auto;
  position: relative;
}

#signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75vh;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  min-width: 330px;
}

#signup-form p {
  margin-bottom: .8vh;
}

#profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  min-width: 330px;
}

#profile-form h2 {
  margin-bottom: 5vh;
  font-size: 1.8em;
}

.profile-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  min-width: 330px;
}

.profile-form-container button {
  margin-top: 2vh;
}

.signin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5vh 0 0 0;
  position: "relative";
  margin: 0 auto;
  width: 60vw;
  min-width: 330px;
}

.signin-form div {
  margin: 2vh 0;
}

.picture-upload-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#welcome-title {
  font-size: 2.4em;
}

.signup-form-input,
.profile-form-input,
.signin-form input {
  width: 55vw;
  height: 3vh;
  max-height: 3vh;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 3vh auto;
  background-color: rgba(189, 195, 199, 0.6);
}

.picture-upload-form-input {
  width: 55vw;
  padding: 1vh;
  background-color: rgba(189, 195, 199, 0.6);
  border-radius: 1vh;
}

.signup-form-input:first-of-type,
.profile-form-input:first-of-type,
.signin-form-input:first-of-type {
  margin-top: 3vh;
}

.signup-form-input:nth-child(4) {
  margin-bottom: 3vh;
}

.profile-form-input:nth-child(4) {
  margin-bottom: 3vh;
}

.signup-form-input-last,
.profile-form-input-last,
#signin-form-input-last {
  margin-bottom: 0.8vh;
}

#signup-map,
#profile-map {
  width: 80vw !important;
  height: 30vh !important;
  border: 5px solid grey;
  border-radius: 20px;
  margin: 2vh auto;
}

#signup-btn,
.profile-btn,
.signin-btn,
.profile-nav-btn,
.comment-view-reply-form button,
#logout-btn {
  height: 5vh;
  padding: 1vh 3vw;
  border-radius: 1.2vh;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  margin-bottom: 3vh;
  width: 25vw;
  background-color: #04668c;
  color: #ffffff;
}

.change-pw-btn, #profile-location-change-btn {
  height: 5vh;
  padding: 1vh 3vw;
  border-radius: 1.2vh;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  margin-top: 3vh 3vw 3vh 3vw;
  width: 37.5vw;
  background-color: #04668c;
  color: #ffffff;
  border-color: #bdc3c7;
}

.profile-btn:hover,
.signin-btn:hover,
.profile-nav-btn:hover,
.change-pw-btn:hover,
#profile-location-change-btn:hover,
#signup-btn:hover,
#logout-btn:hover {
  -webkit-box-shadow: 8px 8px 5px 0px #807b72;
  box-shadow: 8px 8px 5px 0px #807b72;
}

.nav-top {
  top: 0;
  position: absolute;
  z-index: 1;
}

.nav-bot {
  bottom: 0;
  position: absolute;
  z-index: 1;
  visibility: visible;
}

.nav-bot .show {
  visibility: hidden;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.nav-top,
.nav-bot {
  background-color: #04668c;
  height: 10vh;
  width: 100vw;
  position: fixed;
}

.nav-top ul,
.nav-bot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.bot-nav-logo {
  width: 7vh;
}

.nav-bot li,
.nav-top li {
  list-style-type: none;
  color: #ffffff;
  font-weight: bold;
  padding: 0 7vw;
}

.nav-top li {
  font-size: 1.8em;
}

.nav-bot a,
.nav-top a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
}

#userHomeLng,
#userHomeLat,
#newCommentLng,
#newCommentLat,
#userComments,
#info {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
  text-overflow: hidden;
  white-space: nowrap;
}

.add-comment-form {
  position: absolute;
  top: 1.5vh;
  -webkit-transition: height 2.5s;
  transition: height 2.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.8vw;
  margin-top: 1.8vh;
  background-color: rgba(4, 102, 140, 0.8);
  padding: 0 1.5vw;
  border-radius: 1.5vh 1.5vw;
  overflow: hidden;
}

.add-comment-form input {
  width: 44vw;
  height: 2.4vh;
  border-radius: 0.5vh;
  max-height: 3vh;
  margin-bottom: 0.8vh;
  background-color: rgba(189, 195, 199, 0.6);
}

.add-comment-form input:first-of-type {
  margin-top: 1.5vh;
}

.add-comment-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 0.8vh;
}

.add-comment-form-img-div {
  margin-bottom: 1.5vh;
}

.add-comment-form button {
  height: 3vh;
  border-radius: 0.6vh;
  font-family: "Lato", sans-serif;
  font-size: 0.72em;
  width: 17.5vw;
  margin-bottom: 2vh;
  color: #ffffff;
  background-color: #04668c;
  border-color: #bdc3c7;
  color: #ffffff;
}

.add-comment-form button:hover {
  -webkit-box-shadow: 8px 8px 5px 0px #807b72;
  box-shadow: 8px 8px 5px 0px #807b72;
}

.add-img-plus {
  height: 7vh;
  z-index: 2;
  position: absolute;
  top: -8.5vh;
  left: 4vw;
}

.add-img-plus:active {
  content: url("./../images/plus inverted2.png");
}

#map {
  height: 80vh;
  width: 100vw;
}

#profile-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 55vw;
  min-width: 330px;
  margin: 5vh auto;
}

#profile-picture-container h4 {
  margin: 2vh auto 2vh auto;
  font-size: 1.8em;
}

#profile-picture {
  height: 30vh;
  width: auto;
  max-width: 60vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#show-password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 55vw;
  min-width: 330px;
  margin: 1vh auto;
}

#show-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

#show-pass label {
  margin-right: 0.8vw;
}

#show-password-container input,
label {
  font-weight: 100;
  font-size: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#show-pass-checkbox {
  height: 3vh;
  width: 3vw;
  padding: 0;
  margin: 0;
}

.home-marker h3, .private-marker h3, .public-marker h3 {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120%;
  display: block;
  overflow: hidden;
}

.private-marker form, .public-marker form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete-popup, .popup-details {
  height: 2vh;
}

.comment-view-comment-trash {
  position: absolute;
  top: 2vh;
  left: 2vh;
  background-color: red;
  height: 15vw;
  width: 15vw;
}

.comment-view-comment-trash img {
  width: 10vw;
}

.comment-reply-trash {
  height: 20vh;
}

.home-marker {
  background-image: url("./../images/home-marker-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.public-marker {
  background-image: url("./../images/public-marker-generic-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.private-marker {
  background-image: url("./../images/private-marker-generic-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.social-public-marker {
  background-image: url("./../images/public-marker-social-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.social-private-marker {
  background-image: url("./../images/private-marker-social-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.sight-public-marker {
  background-image: url("./../images/public-marker-sight-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.sight-private-marker {
  background-image: url("./../images/private-marker-sight-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.claim-public-marker {
  background-image: url("./../images/public-marker-claim-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.claim-private-marker {
  background-image: url("./../images/private-marker-danger-img.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2vh 0.5vw;
  position: absolute;
  top: 46vh;
  right: 0;
  -webkit-transition: height 2.5s;
  transition: height 2.5s;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.8vw;
  margin-top: 1.8vh;
  background-color: rgba(4, 102, 140, 0.8);
  padding: 0 1.5vw;
  border-radius: 1.5vh 1.5vw;
  overflow: hidden;
}

.hola {
  -webkit-animation: rotate-scale-up 0.65s linear both;
          animation: rotate-scale-up 0.65s linear both;
}

#profile-nav-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-nav-container button {
  border-color: #bdc3c7;
  border-top: none;
  border-bottom: solid;
  border-left: none;
  border-right: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #04668c;
  color: #ffffff;
  padding: 0 0;
  margin-bottom: 0;
}

#profile-nav-container button:first-child {
  margin-top: 0.8vh;
}

#profile-nav-container button:last-child {
  margin-bottom: 0.8vh;
}

#profile-nav-container button:hover {
  -webkit-box-shadow: 8px 8px 5px 0px #807b72;
  box-shadow: 8px 8px 5px 0px #807b72;
}

#discover-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#discover-nav h1 {
  padding: 2vh;
  text-align: center;
  width: 48vw;
  border-top: none;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1.2vh;
  border-bottom-left-radius: 1.2vh;
  background-color: #04668c;
  color: #ffffff;
}

#allDiscoverComments, #allMyComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  z-index: -2;
  height: auto;
  padding-bottom: 10vh;
}

#allDiscoverComments img, #allMyComments img {
  margin: 0;
  padding: 0;
}

#allDiscoverComments > *, #allMyComments > * {
  border: solid;
  border-radius: 1.5vw;
  margin: 0.5vh auto;
  border-color: #bdc3c7;
}

#allDiscoverComments p, #allMyComments p {
  font-size: 0.7em;
}

.displayedComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5vh 0;
  width: 45vw;
  min-height: 7vh;
}

.displayedComment:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.displayedComment div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
}

.displayed-comment-title {
  text-align: center;
  margin-bottom: 3vh;
}

.displayed-comment-text {
  margin-left: 3vh;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  display: block;
  overflow: hidden;
  max-height: 5vh;
  text-align: left;
}

.displayed-comment-creator-username {
  text-align: right;
  margin: .9vh 2vw 0 2vw;
}

.displayedComment img {
  width: 12vw;
}

.displayedComment a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.displayedComment a:active, .displayedComment a:hover {
  color: orange;
}

.hidden {
  display: none !important;
}

.add-comment-form-img-social, .add-comment-form-img-sight, .add-comment-form-img-claim {
  width: 9vw;
  height: 9vw;
}

.like-img {
  width: 5vw;
}

#welcome-index {
  margin: 5vh auto 5vh auto;
  padding: 2vh 0;
  font-size: 2em;
}

#signup-index-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4vh;
}

#signup-index-form h2 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 2.5vh;
}

.close-img-link {
  position: absolute;
  left: 85vw;
  top: 3vh;
}

.close-img-link img {
  width: 8vw;
  height: auto;
}

.comment-in-comment-view {
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-in-comment-view h3 {
  font-weight: bold;
  font-size: 3em;
  word-wrap: break-word;
  width: 80%;
  text-align: center;
}

.comment-in-comment-view p:first-of-type {
  left: 10vw;
  width: 80%;
  margin-top: 4vh;
  font-size: 1.5em;
  word-wrap: break-word;
  margin-bottom: 6vh;
}

.author-in-comment-view {
  text-align: right;
  margin-right: 5vw;
}

.comment-view-like-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-view-author-and-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-view-reply-form {
  text-align: right;
  margin-right: 5vw;
  margin-top: 5vh;
}

.comment-view-reply-form input {
  width: 55vw;
  height: 3vh;
  max-height: 3vh;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 3vh auto;
  background-color: rgba(189, 195, 199, 0.6);
}

.reply {
  margin: 4vh 4vw;
}

.replyDateDisplayed {
  color: grey;
}

.creatorUsername {
  text-align: right;
}

.replyText {
  margin: 4vh 0 1vh 24vw;
  width: 60vw;
  word-wrap: break-word;
}

.change-map-btn, .change-map-btn img {
  height: 20vw;
  background-color: #04668c;
}

.map-change-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5vh;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-change-container form {
  padding: 0 3.5vw 4vw 3.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  margin: 1.5vw 2vw 2vw 2vw;
  border-radius: 1vw;
  background-color: rgba(4, 102, 140, 0.8);
  border-color: #bdc3c7;
}

.map-change-container form:hover, .map-change-container form:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.map-change-container img {
  position: relative;
}

.map-change-container button {
  border: none;
  background-color: white;
  padding: 0;
}

.map-change-container h4 {
  padding: 2vh 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.map-change-view-title h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 16vh;
  margin-bottom: 2vh;
}

.map-change-view-title p {
  text-align: center;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact::after {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-logo a {
  display: none;
}

.comment-view-reply-trash img {
  height: 3vw;
}

.comment-view-reply-trash {
  border: none;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vw;
  margin-left: 3vw;
}

.replyDateDisplayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentMapCenter {
  color: #bdc3c7;
}

.bigger-icon-in-map-add-comment {
  border: 4px solid black;
}

.smaller-icon-in-map-add-comment {
  width: 9vw;
  height: 9vw;
}

.white-background-add-comment-img {
  background-color: white;
  border-radius: 50%;
}

.add-comment-form-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapboxgl-popup-content {
  width: 25vw;
  height: auto;
  padding: 0.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.mapboxgl-popup-content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  text-align: center;
}

.mapboxgl-popup-content p {
  text-align: left;
}

.mapboxgl-popup-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(4, 102, 140, 0.8);
}
/*# sourceMappingURL=style.css.map */