/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS RESET>>>>>>>>>>>>>>>>>>>>> */
/* GLOBAL VARIABLES >>>>>>>>>>>>>>>>>>>>> */
/* START STYLING >>>>>>>>>>>>>>>>>>>>>> */
body {
  font-family: "Fredoka One", cursive;
}

a {
  color: #00B7FF;
}

main {
  margin: 10vh auto;
}

#signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75vh;
  padding: 5vh 0 0 0;
  position: "relative";
}

#welcome-title {
  font-size: 2.4em;
}

.signup-form-input {
  width: 40vw;
  height: 5vh;
  border-radius: 10px;
}

.signup-form-input:first-of-type {
  margin-top: 3vh;
}

.signup-form-input:nth-child(4) {
  margin-bottom: 3vh;
}

#signup-map {
  width: 70vw !important;
  height: 30vh !important;
  border: 5px solid grey;
  border-radius: 20px;
}

#signup-btn {
  height: 5vh;
  width: 20vw;
  font-family: 'Fredoka One', cursive;
  font-size: 1.2em;
  margin-bottom: 3vh;
}

.nav-top {
  top: 0;
}

.nav-bot {
  bottom: 0;
}

.nav-top, .nav-bot {
  background-color: #00b7ff;
  height: 10vh;
  width: 100vw;
  position: fixed;
}

.nav-top ul, .nav-bot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.nav-bot li, .nav-top li {
  list-style-type: none;
  color: #ffffff;
  font-weight: bold;
  padding: 0 7vw;
}

.nav-bot a, .nav-top a {
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
}

#userHomeLng, #userHomeLat, #newCommentLng, #newCommentLat, #userComments, #info {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
  text-overflow: hidden;
  white-space: nowrap;
}

.add-comment-form {
  position: absolute;
  top: 10vh;
  -webkit-transition: height 2.5s;
  transition: height 2.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-img-plus {
  height: 5vh;
}

.add-img-plus:active {
  content: url("./../images/plus inverted2.png");
}

#map {
  height: 78vh;
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */