<form action='/auth/signup' method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username'>

  <label for=''>Password</label>
  <input type='text' name='password'>

  <label for=''>Confirm your password</label>
  <input type='text' name='pass-conf'>

  <label for=''>User hood location</label>
  <input type='text' name='location'>

  <button type='submit'>Sign Up</button>
</form>