<form action='/auth/signup' method='POST'>

    <label for=''>Username</label>
    <input type='text' name='username'>

    <label for=''>Password</label>
    <input type='password' name='password' id='passShow'>

    <label for=''>Confirm your password</label>
    <input type='password' name='passConf' id='passConfShow'>
    <input type="checkbox" name="passShow" onclick="showPassword()">
        <label for="">Show Password</label>

    <input id="location-input" type='hidden' name='defaultLocation'>

    <div id="map"></div>
    <pre id='info'></pre>
    <button type='submit'>Sign Up</button>
</form>

<p>
    {{this.errorMessage}}
</p>

<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>

<script>
    var client = new MapboxClient('pk.eyJ1IjoiaXZhbmZyYWwiLCJhIjoiY2szOTFzMm9pMGJteTNtcDI3aDJua2s5MSJ9.y5iUZoRKCEeCny5m2sJrlg');
    const lastMarker = []
    const map = document.querySelector("#map")
    const query=""
    const commentTitle = "Ironhack";
    const commentText = "A good school.";
    var userHomeLong = 2.190471916
    var userHomeLat = 41.3977381
    var popup = new mapboxgl.Popup()
    .setHTML(`<h3>${commentTitle}</h3><p>${commentText}</p>`);

    map.style.height="20vh";
    map.style.width="500px";

    client.geocodeForward(query, function(err, data, res) {
    mapboxgl.accessToken = "pk.eyJ1IjoiaXZhbmZyYWwiLCJhIjoiY2szOTFzMm9pMGJteTNtcDI3aDJua2s5MSJ9.y5iUZoRKCEeCny5m2sJrlg" //!!! .env
        
        var map = new mapboxgl.Map({
            container: 'map', // HTML container id
            style: 'mapbox://styles/mapbox/streets-v9', // style URL
            center: [userHomeLong, userHomeLat],    //This should be the geolocation
            zoom: 12
        });

        //Add selected location marker, set input values to coords
        map.on('click', function (e) {
            document.getElementById('info').innerHTML =
            JSON.stringify(e.lngLat.wrap());
            var userHomeCoords = document.getElementById('info').innerHTML
            document.querySelector("#location-input").value=userHomeCoords
            
            const newCommentLng = e.lngLat.wrap().lng
            const newCommentLat = e.lngLat.wrap().lat

            const markerOnClick = new mapboxgl.Marker()
                .setLngLat([newCommentLng, newCommentLat])
                .addTo(map);
            if(lastMarker[0]){
                lastMarker[0].remove();
                lastMarker.splice(0,1)
            }
            lastMarker.push(markerOnClick)
        });
    });

    function showPassword  () {
                    const passShow = document.getElementById('passShow')

                    if ( passShow.type === 'password' && passConfShow.type === 'password') 
                    {
                        passShow.type = 'text';
                        passConfShow.type = 'text';
                    }
                    else 
                    {
                        passShow.type = 'password';
                        passConfShow.type = 'password'
                    }
            }
</script>

