

<p id="lng" hidden>{{this.lng}}</p>
<p id="lat" hidden>{{this.lat}}</p>
<pre id='info' hidden></pre>

<form id="signup-form" action='/auth/signup' method='POST'>

    {{!-- <p id="welcome-title">Welcome to Hoodie</p> --}}
    <input class="signup-form-input" type='text' name='username' placeholder="Username">
    <input class="signup-form-input" type='password' name='password' id='passShow' placeholder="Password">
    <input class="signup-form-input signup-form-last-input" type='password' name='passConf' id='passConfShow' placeholder="Confirm your password">
    <div id="show-pass">
        <input type="checkbox" name="passShow" onclick="showPassword()">
        <label for="">Show Password</label>
    </div>

    <div id="signup-map"></div>
    <p>Choose your home location</p>
    <p>
        {{this.errorMessage}}
    </p>
    <button id="signup-btn" type='submit'>Sign Up</button>

    <input id="location-input" name='defaultLocation' hidden>
    <input hidden id="signup-mapstyle" type="text" name="mapStyle" value={{this.mapStyle}}>
</form>



<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
<script src="/javascripts/signup.js">
    
</script>

