{{!-- <span id="userHomeLng" display="none" type='hidden'>{{userHomeLocation.lng}}</span>
<span id="userHomeLat" display="none" type='hidden'>{{userHomeLocation.lat}}</span> --}}


<span id="userHomeLng" display="none" type='hidden'>{{this.lng}}</span>
<span id="userHomeLat" display="none" type='hidden'>{{this.lat}}</span>



<div id="map"></div>
<pre id='info'></pre>

<form class="add-comment-form" action='/endPointName' method='POST'>

  <label for=''>Title</label>
  <input type='text' name='title' required>

  <label for=''>Text</label>
  <input type='text' name='text'>

  <input type='text' name='long' required>

  <input type='text' name='lat' required>


  <button type='submit'>Submit</button>
</form>


<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
<script>
    var client = new MapboxClient('pk.eyJ1IjoiaXZhbmZyYWwiLCJhIjoiY2szOTFzMm9pMGJteTNtcDI3aDJua2s5MSJ9.y5iUZoRKCEeCny5m2sJrlg');
    console.log(document.querySelector("#userHomeLng").innerHTML)
    const map = document.querySelector("#map")
    const query=""
    const commentTitle = "Home";
    const commentText = "A good school.";
    var userHomeLong = document.querySelector("#userHomeLng").innerHTML
    var userHomeLat = document.querySelector("#userHomeLat").innerHTML
    const lastMarker = []
    var isAddCommentDisplayed = false;

    var popup = new mapboxgl.Popup()
    .setHTML(`<h3>${commentTitle}</h3>`);

    map.style.height="80vh";
    map.style.width="100vw";

    client.geocodeForward(query, function(err, data, res) {
    mapboxgl.accessToken = "pk.eyJ1IjoiaXZhbmZyYWwiLCJhIjoiY2szOTFzMm9pMGJteTNtcDI3aDJua2s5MSJ9.y5iUZoRKCEeCny5m2sJrlg" //!!! .env
    
        const map = new mapboxgl.Map({
            container: 'map', // HTML container id
            style: 'mapbox://styles/mapbox/streets-v9', // style URL
            center: [userHomeLong, userHomeLat],
            zoom: 13
        });

        const marker = new mapboxgl.Marker()
        .setLngLat([userHomeLong, userHomeLat])
        .setPopup(popup)
        .addTo(map);

        map.on('click', function (e) {
            const newCommentLong = e.lngLat.wrap().lng
            const newCommentLat = e.lngLat.wrap().lat
            const markerOnClick = new mapboxgl.Marker()
                .setLngLat([newCommentLong, newCommentLat])
                .addTo(map);
            if(lastMarker[0]){
                lastMarker[0].remove();
                lastMarker.splice(0,1)
            }
            lastMarker.push(markerOnClick)
        });



        const addCommentIcon = document.querySelector(".add-img-plus");
        addCommentIcon.addEventListener("click",()=>{
            if(isAddCommentDisplayed){
                const commentForm = document.querySelector(".add-comment-form");
                /*commentForm.style.visibility = "hidden";*/
                commentForm.style.height = "0vh";
                isAddCommentDisplayed = false;
            }
            else {
                const commentForm = document.querySelector(".add-comment-form");
                /*commentForm.style.visibility = "visible";*/
                commentForm.style.height = "10vh";
                isAddCommentDisplayed = true;
            }
        })
    });


</script>

{{!-- navigator.geolocation.getCurrentPosition((posObj) => console.log(posObj))  --}}

