<span id="userHomeLng">{{this.homeCoords.lng}}</span>
<span id="userHomeLat">{{this.homeCoords.lat}}</span>
<span id="userComments">{{this.userComments}}</span>
<div id="map"></div>
<pre id='info'></pre>

<form class="add-comment-form" action='/comment' method='POST'>

  <input type='text' name='title' value="title" required>

  <input type='text' name='text' value="text">

  <input id="newCommentLng" type='text' name='lng' required>

  <input id="newCommentLat" type='text' name='lat' required>


  <button id="add-comment-btn" type='submit'>Submit</button>
</form>

<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
<script>

    const userHomeLong = document.querySelector("#userHomeLng").innerHTML
    const userHomeLat = document.querySelector("#userHomeLat").innerHTML
    const addCommentBtn = document.querySelector("#add-comment-btn");
    const client = new MapboxClient('pk.eyJ1IjoiaXZhbmZyYWwiLCJhIjoiY2szOTFzMm9pMGJteTNtcDI3aDJua2s5MSJ9.y5iUZoRKCEeCny5m2sJrlg');
    const map = document.querySelector("#map")
    const query=""
    const lastMarker = []
    var isAddCommentDisplayed = false;

    //Set popup for Home Icon
    const popup = new mapboxgl.Popup()
    .setHTML(`<h3>Home</h3>`);


    //Draw map
    client.geocodeForward(query, function(err, data, res) {
    mapboxgl.accessToken = "pk.eyJ1IjoiaXZhbmZyYWwiLCJhIjoiY2szOTFzMm9pMGJteTNtcDI3aDJua2s5MSJ9.y5iUZoRKCEeCny5m2sJrlg" //!!! .env

        //Map setup
        const map = new mapboxgl.Map({
            container: 'map', // HTML container id
            style: 'mapbox://styles/mapbox/streets-v9', // style URL
            center: [userHomeLong, userHomeLat],
            zoom: 13
        });

        //Add home marker
        const marker = new mapboxgl.Marker()
        .setLngLat([userHomeLong, userHomeLat])
        .setPopup(popup)
        .addTo(map);

        //Add selected location marker, set input values to coords
        map.on('click', function (e) {
            const newCommentLng = e.lngLat.wrap().lng
            const newCommentLat = e.lngLat.wrap().lat

            const newCommentLngInput = document.querySelector("#newCommentLng");
            const newCommentLatInput = document.querySelector("#newCommentLat");
            newCommentLngInput.value = newCommentLng
            newCommentLatInput.value = newCommentLat

            const markerOnClick = new mapboxgl.Marker()
                .setLngLat([newCommentLng, newCommentLat])
                .addTo(map);
            if(lastMarker[0]){
                lastMarker[0].remove();
                lastMarker.splice(0,1)
            }
            lastMarker.push(markerOnClick)
        });        

        //TO DO: Add comment icon should slide form 
        const addCommentIcon = document.querySelector(".add-img-plus");
        addCommentIcon.addEventListener("click",()=>{
            if(isAddCommentDisplayed){
                const commentForm = document.querySelector(".add-comment-form");
                /*commentForm.style.visibility = "hidden";*/
                commentForm.style.height = "0vh";
                isAddCommentDisplayed = false;
            }
            else {
                const commentForm = document.querySelector(".add-comment-form");
                /*commentForm.style.visibility = "visible";*/
                commentForm.style.height = "10vh";
                isAddCommentDisplayed = true;
            }
        })

        const userComments = JSON.parse(document.querySelector("#userComments").innerHTML)
        console.log("aaaaaaaaa", userComments)
        userComments.forEach(comment=>{
            const commentPopup =new mapboxgl.Popup()
                .setHTML(`<h3>${comment.comment.title}</h3><p>${comment.comment.text}</p><form action="/comment" method="GET"><input name="commentId" value=${comment.comment._id}><button type="submit">See details</button></form>`);
            const previousCommentMarker = new mapboxgl.Marker()
        .setLngLat([comment.comment.location.lng.$numberDecimal, comment.comment.location.lat.$numberDecimal])
        .setPopup(commentPopup)
        .addTo(map);
        })
        
    });
</script>


{{!-- navigator.geolocation.getCurrentPosition((posObj) => console.log(posObj))  --}}

